<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
</head>
<body>

<style>
    a {
        color: #cd143e;
    }
    a:hover {
        color: #cd143e;
        font-weight: 700;
        text-decoration: none;
    }
    .top-header {
        background: rgb(126,72,74);
        background: linear-gradient(0deg, rgba(126,72,74,1) 0%, rgba(255,45,42,1) 30%);
        border-top-right-radius: 10px 10px;
        height: 70px;
        line-height: 70px;
        color: #FFF;
        font-size: 22px;
        text-indent: 15px;
        border: 1px #c1a8aa solid;
        border-bottom: none;
    }
    .status-bar {
        background: #ff5f5c;
        font-weight: 700;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        text-indent: 15px;
        color: #FFF;
        border-left: 1px #c1a8aa solid;
        border-right: 1px #c1a8aa solid;
    }
    .content {
        border: 1px #c1a8aa solid;
        border-top: none;
        padding: 15px;
    }
    .sidelinks {
        margin-top: 30px;
    }
    .sidelink,
    .related
    {
        display: block;
        border-bottom: 1px #b61a2e solid;
        color: #cd143e;
        margin-bottom: 10px;
    }
    .titlebar {
        border-top: 2px #d8838a solid;
        border-bottom: 1px #e5aaac solid;
        background: #fab0b1;
        color: #a95d5d;
        height: 25px;
        line-height: 25px;
        text-indent: 10px;
        font-weight: 900;
        margin-bottom: 20px;
    }
    .subcontent {
        margin-bottom: 20px;
    }
    .subtitle {
        color: #cd143e;
        font-weight: 700;
        margin-top: 20px;
    }
    .groups {
        padding-left: 15px;
    }
    .group {
        margin-bottom: 5px;
        display: list-item;
        color: #cd143e;
    }
    .gallery { }
    .img-frame { margin-bottom: 25px; display: inline-block; width: 150px; height: 150px; padding: 0; text-align: center; background: #FEFEFE; vertical-align: middle; }
    .img-frame img { max-width: 150px; max-height: 150px; vertical-align: middle; border: 1px #c1a8aa solid;  }
    .video-container  {
        border: 1px #c1a8aa solid;
        display: inline-block;
        margin-bottom: 20px;
    }
    .back {
        margin-top: 20px;
        display: block;
        text-align: center;
    }
</style>
<div style="margin: 50px auto; width: 1200px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <a href="/"><img src="img/logo.png" style="width: 150px;" /></a>
                <div class="sidelinks">
                    <a href="/" class="sidelink">Start</a>
                    <a href="/" class="sidelink">Meine Seite</a>
                    <a href="/" class="sidelink">Meine Freunde</a>
                    <a href="/" class="sidelink">Meine Fotos</a>
                    <a href="/" class="sidelink">Meine Gruppen</a>
                    <a href="/" class="sidelink">Veranstaltungen</a>
                    <a href="/" class="sidelink">Meine Apps und Spiele</a>
                    <a href="/" class="sidelink">Nachrichtendienst</a>
                    <a href="/" class="sidelink">Mein Account</a>
                    <a href="/" class="sidelink">Privatsphäre</a>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="top-header"><b>STUDI</b>VERZEICHNIS</div>
                    <div class="status-bar">Lisa & Jan Koch</div>
                    <div class="content">
                        <?php require_once ('content/' . $page . '.phtml'); ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    Fancybox.bind('[data-fancybox="gallery"]', {
        // Your custom options
    });
</script>
</body>
</html>
