<div style="text-align: center">

    <h1>Erratet ihr die Chips?</h1>

    <img src="img/pusheen-chips.gif" style="max-width:150px;" />

    <p class="back"><a href="/"><b>Zurück zur Startseite</b></a></p>

</div>

