<div style="text-align: center">

    <h1>Übungsaufgabe</h1>

    <img src="img/yoga.jpg" />
    <br />
    <br />
    <br />
    <br />
    <p class="back"><a href="/"><b>Zurück zur Startseite</b></a></p>

</div>
