<div style="text-align: center">
    <h1>Quizfrage</h1>
    <p><h3>Schätzfrage: Wie viele Mitglieder hat diese Gruppe?</h3></p>
    <br />
    <br />
    <p class="back"><a href="/index.php?page=effeln-2"><b>Antwort auflösen</b></a></p>
</div>
