<div style="text-align: center">
    <h1>Antwort</h1>
    <p><h3>Effeln hat 692 Einwohner (Stand 2022)</h3></p>
    <br />
    <br />
    <p class="back"><a href="/"><b>Zurück zur Startseite</b></a></p>
</div>

