<div style="text-align: center">

    <h1>Lisa's & Jan's  Fotos</h1>

    <div style="margin: 40px 0;">
        <p>
            <a target="_blank" href="https://www.classtools.net/reveal/202309-c67EYe">Ratespiel 1</a>
        </p>
        <p>
            <a target="_blank" href="https://www.classtools.net/reveal/202310-2BLh2g">Ratespiel 2</a>
        </p>
        <p>
            <a target="_blank" href="https://www.classtools.net/reveal/202310-ZZE4Wf">Ratespiel 3</a>
        </p>
        <p>
            <a target="_blank" href="https://www.classtools.net/reveal/202310-6KFbZW">Ratespiel 4</a>
        </p>
        <p>
            <a target="_blank" href="https://www.classtools.net/reveal/202310-PMD7G4">Ratespiel 5</a>
        </p>
    </div>


    <div class="gallery">
        <a class="img-frame" href="/img/fotos/1.jpg"  data-fancybox="gallery">
            <img src="img/fotos/1.jpg" />
        </a>
        <a class="img-frame" href="/img/fotos/2.jpg"  data-fancybox="gallery">
            <img src="img/fotos/2.jpg" />
        </a>
        <a class="img-frame" href="/img/fotos/3.jpg"  data-fancybox="gallery">
            <img src="img/fotos/3.jpg" />
        </a>
        <a class="img-frame" href="/img/fotos/4.jpg"  data-fancybox="gallery">
            <img src="img/fotos/4.jpg" />
        </a>
        <a class="img-frame" href="/img/fotos/5.jpg"  data-fancybox="gallery">
            <img src="img/fotos/5.jpg" />
        </a>
        <a class="img-frame" href="/img/fotos/6.jpg"  data-fancybox="gallery">
            <img src="img/fotos/6.jpg" />
        </a>
        <a class="img-frame" href="/img/fotos/7.jpg"  data-fancybox="gallery">
            <img src="img/fotos/7.jpg" />
        </a>
        <a class="img-frame" href="/img/fotos/8.jpg"  data-fancybox="gallery">
            <img src="img/fotos/8.jpg" />
        </a>
        <a class="img-frame" href="/img/fotos/9.jpg"  data-fancybox="gallery">
            <img src="img/fotos/9.jpg" />
        </a>
        <a class="img-frame" href="/img/fotos/10.jpg"  data-fancybox="gallery">
            <img src="img/fotos/10.jpg" />
        </a>
        <a class="img-frame" href="/img/fotos/11.jpg"  data-fancybox="gallery">
            <img src="img/fotos/11.jpg" />
        </a>
    </div>


    <p class="back"><a href="/"><b>Zurück zur Startseite</b></a></p>

</div>
