<div style="text-align: center">

    <h1>Es gibt kein Wort das sagen könnte was ich fühl wenn ich an Lilly denk, oh oh oh</h1>

    <audio controls src="media/goodbye_song.mp4"></audio>

    <p>
        <img src="img/finale.jpg" style="max-width:500px; margin-top: 10px; " />
    <!--<img src="img/pusheen-dj.png" style="margin-top: 10px; max-width:150px;" />-->
    </p>
    <p class="back"><a href="/"><b>Zurück zur Startseite</b></a></p>

</div>

