<div style="text-align: center">

    <h2>Was Lisa und Jan gut finden</h2>


    <div class="gallery">
        <a class="img-frame" href="/img/likes/1/1.png"  data-fancybox="gallery">
            <img src="img/likes/1/1.png" />
        </a>
        <a class="img-frame" href="/img/likes/1/2.png"  data-fancybox="gallery">
            <img src="img/likes/1/2.png" />
        </a>
        <a class="img-frame" href="/img/likes/1/3.png"  data-fancybox="gallery">
            <img src="img/likes/1/3.png" />
        </a>
        <a class="img-frame" href="/img/likes/1/4.png"  data-fancybox="gallery">
            <img src="img/likes/1/4.png" />
        </a>
        <a class="img-frame" href="/img/likes/1/5.png"  data-fancybox="gallery">
            <img src="img/likes/1/5.png" />
        </a>
        <a class="img-frame" href="/img/likes/1/6.png"  data-fancybox="gallery">
            <img src="img/likes/1/6.png" />
        </a>
        <a class="img-frame" href="/img/likes/1/7.png"  data-fancybox="gallery">
            <img src="img/likes/1/7.png" />
        </a>
        <a class="img-frame" href="/img/likes/1/8.png"  data-fancybox="gallery">
            <img src="img/likes/1/8.png" />
        </a>
        <a class="img-frame" href="/img/likes/1/9.png"  data-fancybox="gallery">
            <img src="img/likes/1/9.png" />
        </a>
    </div>

    <p class="back"><a href="/"><b>Zurück zur Startseite</b></a></p>
</div>

