<div class="row">
    <div class="col-xs-5">
        <img src="img/profilbild.jpg" style="width: 100%; border: 1px #CCC solid; margin-bottom: 20px;" />
        <a class="related" href="/index.php?page=fotos">Lisa & Jan sind auf 16 Fotos verlinkt</a>
        <a class="related" href="/index.php?page=likes">Was Lisa & Jan gut finden</a>
        <a class="related" href="/index.php?page=nachricht-1">Lisa & Jan eine Nachricht schicken</a>
        <a class="related" href="/index.php?page=partyclub">Wer Lisa & Jan gut findet</a>
        <a class="related" href="/index.php?page=gruscheln">Lisa & Jan gruscheln</a>
    </div>
    <div class="col-xs-7">
        <div class="titlebar">Verbindung</div>
        <div class="subcontent">♫ ♪ Es gibt kein Wort das sagen könnte was ich fühl wenn ich an Lilly denk, woh oh oh ♪ ♫</div>
        <div class="titlebar">Information</div>
        <div class="subcontent">
            <div class="subtitle mb-5 mt-5">Account</div>
            <div class="row">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6">Lisa & Jan Koch</div>
            </div>
            <div class="row">
                <div class="col-xs-6">Mitglied seit</div>
                <div class="col-xs-6">05.07.2008</div>
            </div>
            <div class="row">
                <div class="col-xs-6">Letztes Update</div>
                <div class="col-xs-6">♥ ♥ ♥ 02.10.2023 ♥ ♥ ♥</div>
            </div>
            <div class="subtitle">Allgemeines</div>
            <div class="row">
                <div class="col-xs-6">Hochschule</div>
                <div class="col-xs-6">♥ ♥ ♥ Schule der Liebe ♥ ♥ ♥</div>
            </div>
            <div class="row">
                <div class="col-xs-6">Status</div>
                <div class="col-xs-6">♥ ♥ ♥ Verheiratet ♥ ♥ ♥</div>
            </div>
            <div class="row">
                <div class="col-xs-6">Geschlecht</div>
                <div class="col-xs-6">weiblich / männlich</div>
            </div>
            <div class="row">
                <div class="col-xs-6">Geburtstage</div>
                <div class="col-xs-6">08.11.1992 / 16.08.1988</div>
            </div>
            <div class="row">
                <div class="col-xs-6">Heimatland</div>
                <div class="col-xs-6">Deutschland</div>
            </div>
            <div class="row">
                <div class="col-xs-6">Heimatstadt</div>
                <div class="col-xs-6">Belecke vs. Effeln</div>
            </div>
        </div>
        <div class="titlebar">Gruppen</div>
        <ul class="groups">
            <a href="/index.php?page=effeln-1" class="group">Effeln, ich komm aus dir!</a>
            <a href="/index.php?page=club" class="group">Clubbst du schon oder trainierst du noch?</a>
            <a href="/index.php?page=chips" class="group">Chips sind mein Gemüse</a>
            <a href="/index.php?page=nocontent" class="group">War doof, merkste selbst, ne!?!</a>
            <a href="/index.php?page=nocontent" class="group">Kalorien sind kleine Tierchen, die nachts die Kleidung enger nähen</a>
            <a href="/index.php?page=nocontent" class="group">Ich glühe härter vor als Du Party machst</a>
            <a href="/index.php?page=nocontent" class="group">Wir lästern nicht, wir stellen nur fest!</a>
            <a href="/index.php?page=nocontent" class="group">Ich stalke nicht, ich recherchiere nur!</a>
            <a href="/index.php?page=nocontent" class="group">Früh aufstehen ist der erste Schritt in die falsche Richtung!</a>
            <a href="/index.php?page=nocontent" class="group">Ich blinke nicht, weil's dich gar nix angeht, wo ich hin will!</a>
            <a href="/index.php?page=nocontent" class="group">Ich habe keine Lösung, aber ich bewundere das Problem.</a>
            <a href="/index.php?page=nocontent" class="group">Ich beschimpfe Dinge, wenn sie nicht das tun, was ich will!</a>
            <a href="/index.php?page=nocontent" class="group">Ich leb in meiner eigenen Welt. Das ist OK, man kennt mich dort.</a>
            <a href="/index.php?page=nocontent" class="group">Ich wär lieber reich als sexy, aber was soll man machen</a>
            <a href="/index.php?page=nocontent" class="group">Kann mir bitte jemand das Wasser reichen?</a>
            <a href="/index.php?page=nocontent" class="group">Warum liegt hier eigentlich Stroh?</a>
            <a href="/index.php?page=nocontent" class="group">Ein Bueno ist nichts zum Essen</a>
            <a href="/index.php?page=nocontent" class="group">+++Ein Herz für Jamie+++</a>
            <a href="/index.php?page=nocontent" class="group">Unterstützer_Innen des depressiven Pangolins</a>
            <a href="/index.php?page=nocontent" class="group">Blume im Revier</a>
            <a href="/index.php?page=nocontent" class="group">Superlativ vom süss: Jamie</a>
            <a href="/index.php?page=nocontent" class="group">Rettet den Nacktnasenbär</a>
                            <a href="/index.php?page=nocontent" class="group">Tierhaarallergie? Drauf geschissen!</a>
                                <a href="/index.php?page=nocontent" class="group">Johanna for Präsident - geheime Unterstützer der Johanna Heppe</a>
                                    <a href="/index.php?page=nocontent" class="group">Orientierung ist was für Anfänger</a>
            <a href="/index.php?page=nocontent" class="group">Die großen Fragen des Lebens: Hoch oder flach? Offen oder zu? Glatt oder Locken?</a>
                <a href="/index.php?page=nocontent" class="group">Rettet die Erde! Sie ist der einzige Planet mit Schokolade!</a>
                    <a href="/index.php?page=nocontent" class="group">Chips sind mein Gemüse</a>
                        <a href="/index.php?page=nocontent" class="group">Drink doch ene met!</a>
                            <a href="/index.php?page=nocontent" class="group">Ich zähl bis drei, dann ist hier Karneval.</a>
                                <a href="/index.php?page=nocontent" class="group">Alaaf you!</a>
            <a href="/index.php?page=nocontent" class="group">Der einzige Montag, auf den wir uns freuen? Rosenmontag.</a>
                <a href="/index.php?page=nocontent" class="group">Life is too short. Buy the damn concert tickets.</a>
                    <a href="/index.php?page=nocontent" class="group">Beziehungsstatus: Konzert.</a>
                        <a href="/index.php?page=nocontent" class="group">Jeder sollte jemanden haben, der im richtigen Moment nachschenkt.</a>
                            <a href="/index.php?page=nocontent" class="group">Homies. Was uns verbindet, müssen andere nicht verstehen.</a>

        </ul>
    </div>
</div>