<div style="text-align: center">

    <h1>Nachricht von Grey</h1>

    <img src="img/nachricht-pferd.jpg" style="width: 450px; "/>


    <p class="back"><a href="/index.php?page=nachricht-3"><b>Weiter zur nächsten Nachricht</b></a></p>
</div>
