

<div style="text-align: center">
    <h1>Nachricht von den verliebten Jungs</h1>

    <div class="video-container">
        <video width="640" height="480" controls>
            <source src="media/botschaft_verliebte_jungs_2004.mp4" type="video/mp4">
        </video>
    </div>

    <p class="back"><a href="/"><b>Zurück zur Startseite</b></a></p>

</div>




