

<div style="text-align: center">
    <h1>Nachricht von Charlotte</h1>

    <div class="video-container">
        <video width="640" height="480" controls>
            <source src="media/charlotte.mp4" type="video/mp4">
        </video>
    </div>
</div>




<p class="back"><a href="/index.php?page=nachricht-2"><b>Weiter zur nächsten Nachricht</b></a></p>