<h1>Nachrichten</h1>

<div class="video-container">
    <video width="320" height="240" controls>
        <source src="vid/charlotte.mp4" type="video/mp4">
    </video>
</div>



<p class="back"><a href="/"><b>Zurück zur Startseite</b></a></p>