<div style="text-align: center">

    <h1>Hier fehlt noch witziger Inhalt</h1>

    <img src="img/pusheen-sleep.png" style="max-width:150px;" />
    <p><h3>Bitte liefert mir eure Inhalte für diese Unterseite</h3></p>
    <br />
    <br />
    <br />
    <br />
    <p class="back"><a href="/"><b>Zurück zur Startseite</b></a></p>

</div>

