<div style="text-align: center">

    <h1>Wer Lisa und Jan gut findet</h1>

    <div class="gallery">
        <a class="img-frame" href="/img/partyclub/1.png"  data-fancybox="gallery">
            <img src="img/partyclub/1.png" />
            <span class="title">Peter</span>
        </a>
        <a class="img-frame" href="/img/partyclub/2.png"  data-fancybox="gallery">
            <img src="img/partyclub/2.png" />
            <span class="title">Carolin</span>
        </a>
        <a class="img-frame" href="/img/partyclub/3.png"  data-fancybox="gallery">
            <img src="img/partyclub/3.png" />
            <span class="title">Christian</span>
        </a>
        <a class="img-frame" href="/img/partyclub/4.png"  data-fancybox="gallery">
            <img src="img/partyclub/4.png" />
            <span class="title">Annika</span>
        </a>
        <a class="img-frame" href="/img/partyclub/5.png"  data-fancybox="gallery">
            <img src="img/partyclub/5.png" />
            <span class="title">Rüdiger</span>
        </a>
        <a class="img-frame" href="/img/partyclub/6.png"  data-fancybox="gallery">
            <img src="img/partyclub/6.png" />
            <span class="title">Linda</span>
        </a>
        <a class="img-frame" href="/img/partyclub/7.png"  data-fancybox="gallery">
            <img src="img/partyclub/7.png" />
            <span class="title">Markus</span>
        </a>
        <a class="img-frame" href="/img/partyclub/8.png"  data-fancybox="gallery">
            <img src="img/partyclub/8.png" />
            <span class="title">Lena</span>
        </a>
        <a class="img-frame" href="/img/partyclub/9.png"  data-fancybox="gallery">
            <img src="img/partyclub/9.png" />
            <span class="title">Marc</span>
        </a>
        <a class="img-frame" href="/img/partyclub/10.png"  data-fancybox="gallery">
            <img src="img/partyclub/10.png" />
            <span class="title">Johanna</span>
        </a>
        <a class="img-frame" href="/img/partyclub/11.png"  data-fancybox="gallery">
            <img src="img/partyclub/11.png" />
            <span class="title">Niklas</span>
        </a>
        <a class="img-frame" href="/img/partyclub/12.png"  data-fancybox="gallery">
            <img src="img/partyclub/12.png" />
            <span class="title">Julia</span>
        </a>
        <a class="img-frame" href="/img/partyclub/13.png"  data-fancybox="gallery">
            <img src="img/partyclub/13.png" />
            <span class="title">Sophia</span>
        </a>
        <a class="img-frame" href="/img/partyclub/14.jpg"  data-fancybox="gallery">
            <img src="img/partyclub/14.jpg" />
            <span class="title">Lara</span>
        </a>
        <a class="img-frame" href="/img/likes/2/1.jpg"  data-fancybox="gallery">
            <img src="img/likes/2/1.jpg" />
            <span class="title">Clueso</span>
        </a>
        <a class="img-frame" href="/img/likes/2/2.jpg"  data-fancybox="gallery">
            <img src="img/likes/2/2.jpg" />
            <span class="title">Die Belecker Kuh</span>
        </a>
        <a class="img-frame" href="/img/likes/2/3.jpg"  data-fancybox="gallery">
            <img src="img/likes/2/3.jpg" />
            <span class="title">Henning May</span>
        </a>
        <a class="img-frame" href="/img/likes/2/4.jpg"  data-fancybox="gallery">
            <img src="img/likes/2/4.jpg" />
            <span class="title">Jamie</span>
        </a>
        <a class="img-frame" href="/img/likes/2/5.jpg"  data-fancybox="gallery">
            <img src="img/likes/2/5.jpg" />
            <span class="title">Knoten Knut</span>
        </a>
        <a class="img-frame" href="/img/likes/2/6.jpg"  data-fancybox="gallery">
            <img src="img/likes/2/6.jpg" />
            <span class="title">Phil Dunphy</span>
        </a>
        <a class="img-frame" href="/img/likes/2/7.jpg"  data-fancybox="gallery">
            <img src="img/likes/2/7.jpg" />
            <span class="title">Rudi Carrell</span>
        </a>
        <a class="img-frame" href="/img/likes/2/8.jpg"  data-fancybox="gallery">
            <img src="img/likes/2/8.jpg" />
            <span class="title">Till Reiners</span>
        </a>
    </div>


    <p class="back"><a href="/"><b>Zurück zur Startseite</b></a></p>
</div>
